.form-container{
    background-color: white;
    width: 20%;
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    padding: 5%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 4px;
}
.btnback{
    cursor: pointer;
    margin-top: 1%;
    margin-left: 10%;
    background-color: rgb(1, 56, 10);
    color: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}