.contentbox{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
.ingresos,.egresos{
    background-color: white;
    width: 40%;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;

}
.total{
   background-color: white;
   width: 20%; 
   border: 1px solid black;
   text-align: center;
   border-radius: 10px;
}
.btn {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-left: 80%;
}

.btn button{
    cursor: pointer;
    background-color: white;
    border-radius: 10px;
    margin-left: 10%;
    padding: 10px;
}